<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    welcome admin,
  
    <h1>Categories</h1> <a href="/add_category">Add Category </a>
    <ul>
    {% for category in data %}
      <li>
         {{ category.name }} <a href="/edit_category/{{ category.id }}">edit </a>
        <br> <a href="/delete_category/{{ category.id }}">delete </a>
        <br> <a href="/view_category/{{ category.id }}">view </a>
      </li>
    {% endfor %}
    </ul>
</body>
</html>